@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* color: #fff; */
  /* background-color: #222; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.3rem 8rem;
}

.container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  border: none;
  border-color: none;
}

.nav a span {
  color: aqua;
  font-weight: 900;
  font-size: 3rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

ul li {
  padding: 0 0.5rem;
  text-decoration: none;
  list-style: none;
}

li img {
  width: 70%;
  height: 50%;
}

/* Hero */
.hero {
  max-height: 100vh;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-content .bio {
  max-width: 50vw;
}

.bio h1 {
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.2;
  /* word-spacing: 0.5rem; */
}

.bio span {
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-thickness: 0.26rem;
  text-underline-offset: 0.3rem;
}

.hero-content p {
  max-width: 45%;
  color: rgb(206, 205, 205);
  margin-top: -1rem;
  padding-bottom: 1rem;
}

button {
  border: none;
  padding: 0.6rem 1.2rem 0.6rem 0;
  font-weight: 300;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-underline-offset: 0.7rem;
  cursor: pointer;
}

button:hover {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: aqua;
  text-decoration: none;
}

.hero .hero__img {
  position: absolute;
  left: 60%;
  top: 45%;
  transform: translate(0, -50%);
  width: 30%;
  height: 90%;
  z-index: -999;
}

.hero .circle__img {
  position: absolute;
  top: 73%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.hero .rings__img {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 35%;
  height: 20%;
}

/* Skills secton */
.section__skills {
  margin-top: 10rem;
}

.section__skills .hr {
  height: 1px;
  background-color: rgb(125, 124, 124);
}

.skillsets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.skillsets .skill {
  transition: 0.3s ease-in-out;
  /* padding-left: 2rem; */
}

.skill:hover {
  padding-left: 2rem;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.skill h2 {
  font-size: 2rem;
  font-weight: 500;
}

.skill p {
  color: rgb(159, 156, 156);
}

.section__skills .rings2__img {
  position: absolute;
  top: 140%;
  left: 85%;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 30%;
  height: 25%;
}

/* Projects Section */
.section__projects {
  margin-top: 2rem;
}

.section__projects .projects__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__nav h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.section__projects .projects {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.projects .project {
  transition: 0.3s ease-in-out;
  /* transform: translateY(101%); */
}

.project img {
  max-width: 100%;
}
.project h4 {
  font-size: 1.2rem;
}

.project__lang {
  display: flex;
  flex-direction: row;
  word-spacing: 6rem;
}

.project__lang p {
  word-spacing: 2rem;
}

/* project overview */
.overview {
  transform: translateY(0);
}

.overview p {
}

/* Contact section */
.contact {
  max-width: 1280px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.contact .contact__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contact__content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  /* line-height: 1.2; */
}

.contact__content p {
  max-width: 45%;
  color: rgb(206, 205, 205);
  margin-top: 5px;
  padding-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

form .form-element {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0;
}

.form-element input {
  width: 100%;
  padding-right: 7rem;
  border: 0;
  border-bottom: 1px solid rgb(136, 134, 134);
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
}

.form-element input::placeholder {
  color: grey;
  font-size: 0.7rem;
  text-indent: 1rem;
}

.form-element input:only-of-type {
  padding-bottom: 1rem;
}

.form-element input.lastInput {
  padding-bottom: 5rem;
  border-bottom: 1px solid #fff;
}

.form-element input:focus {
  outline: none;
  transition: 0.6s all ease;
}

form button {
  transition: 0.3s ease-in-out;
  margin-top: 1rem;
}

form a button:hover {
  border: none;
  background-color: rgb(59, 102, 102);
}

.contact .contact__rings {
  position: absolute;
  top: 75%;
  left: -35%;
  width: 500px;
  height: 120px;
}

/* Footer section */

.footer__section {
  margin-top: 5rem;
  position: relative;
}
.footer__section .hr {
  height: 1px;
  background-color: rgb(125, 124, 124);
}

.footer__section .footer__details {
  margin: 1rem 0 1.5rem 0;
}
